@model Webbandothethao.Models.tblCategory
@{
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!-- Content Header (Page header) -->
<div class="content-wrapper">
	<!-- Default box -->
	<div class="card">
		<div class="card-body">
			<form method="post">
				<div asp-validation-summary="All"></div>
				<div class="form-group cod-md-6">
					<label asp-for="name">Tên danh mục</label>
					<input type="text" class="form-control mb-3" asp-for="name" placeholder="Nhap tên danh mục" />
					<span asp-validation-for="name" class="alert-danger"></span>
				</div>
				<div class="form-group col md-6">
					<label asp-for="description">Mô tả</label>
					<input type="text" class="form-control mb-3" asp-for="description" placeholder="Nhập mô tả" />
					<span asp-validation-for="description" class="alert-danger"></span>
				</div>
				<div class="form-group col md-6">
					<label asp-for="created_at">Thời gian tạo</label>
					<input type="datetime" class="form-control mb-3" asp-for="created_at" value="@DateTime.Now" />
					<span asp-validation-for="created_at" class="alert-danger"></span>
				</div>
				<div class="form-group col-md-6 mt-3 mb-3">
					<label>
						@Html.CheckBox("IsActive", false)
						Hiển thị
					</label>
				</div>

				<button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i> Lưu</button>
				<a asp-controller="Category" asp-action="Display" class="btn btn-lg btn-warning p-2">Quay lại</a>
			</form>
		</div>
	</div>
	<!-- /.card -->
</div>
<!-- /.content -->
</div>