@model Webbandothethao.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger">
    <h4>Error</h4>
    <p>@Model.Message</p>
</div>



@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

